body {
    background-color: #aab;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
}

.nav {
    background-color: #fff;
    position: fixed;
    top:0;
    left: 0;
    width: calc(100% - 40px);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.navbar-left, .navbar-right {
    list-style: none;
    display: flex;
}

.navlink {
    font-size: 20px;
    padding: 5px 10px;
}

.navlink a {
    color: #333;
    text-decoration: none;
}

.input-form {
    background-color: #abc;
    color: #333;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.4);
}

.form-control {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-control input {
    border: none;
    border-radius: 5px;
    padding: 8px 5px;
}

.form-control input:focus {
    border: none;
    outline: none;
}

.submit-btn-wrapper {
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: #5544aa;
    display: inline-block;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2px 4px 8px #5544aa77;
}

.submit-btn:hover {
    background-color: #7766cc;
}

.submit-btn:active {
    box-shadow: 2px 4px 4px #5544aa77;
}